---
Checks: >
    -*,
    bugprone-*,
    -readability-redundant-inline-specifier,
    -bugprone-throwing-static-initialization,
    -bugprone-invalid-enum-default-initialization,
    -bugprone-suspicious-include,
    -bugprone-branch-clone,
    -bugprone-easily-swappable-parameters,
    -bugprone-narrowing-conversions,
    -bugprone-implicit-widening-of-multiplication-result,
    clang-analyzer-*,
    cppcoreguidelines-init-variables,
    misc-no-recursion,
    concurrency-mt-unsafe,
    readability-else-after-return,
    readability-make-member-function-const,
    readability-redundant-*,
    readability-simplify-*,
    modernize-use-override,
    modernize-use-nullptr,
    modernize-deprecated-headers,
HeaderFilterRegex: ".*"
FormatStyle: file

...
