---
Checks: >
    -*,
    bugprone-*,
    clang-analyzer-*,
    modernize-*,
    -modernize-use-trailing-return-type,
    performance-*,
    readability-braces-around-statements,
    readability-else-after-return,
    readability-identifier-naming,
    readability-redundant-*,
    readability-simplify-*,
CheckOptions:
    readability-identifier-naming.ClassCase: CamelCase
    readability-identifier-naming.EnumCase: CamelCase
    readability-identifier-naming.FunctionCase: camelBack
    readability-identifier-naming.MemberCase: camelBack
    readability-identifier-naming.MemberPrefix: m_
    readability-identifier-naming.MethodCase: camelBack
    readability-identifier-naming.NamespaceCase: lower_case
    readability-identifier-naming.ParameterCase: camelBack
    readability-identifier-naming.PrivateMemberPrefix: m_
    readability-identifier-naming.StaticConstantCase: UPPER_CASE
    readability-identifier-naming.StaticConstantPrefix: k
    readability-identifier-naming.VariableCase: camelBack
WarningsAsErrors: "*"
HeaderFilterRegex: ".*"
FormatStyle: file

...
